.circleTool{
    width: 13px;
    height: 13px;
    background-color:rgba(207, 204, 204, 0.74);;
    margin: 2px;
    border-radius: 50%;
    position: absolute;
    align-self: flex-end;
    align-self: self-end;
}
.tools{
    justify-content: center;
    align-items: center;
    align-content: center;


.tool{
    width: 70px;
    height: 70px;    
    border-radius: 50%;
    margin: 10px;
    padding: 0%;
    border-width: 7px;
    border-color: rgb(17, 18, 18);
    
}
}
.image{
    width: 70px;
    height: 70px;            
}