.projectDetails {
  .githubbutton {
    color: black;
    background-color: #00f5d4;
  }
  .techo {
    font-weight: 600;
    font-style: italic;
  }
}

.forMoreDetails {
  .techo {
    font-weight: 600;
    font-style: italic;
  }
}
